*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    font-family: Calibri;
    background-color: #E2D5CC;
    color: white;
}
.ustMenu {
    background-color: #d69971;
}
    .ustMenu .logoYeri {
        padding: 50px;
        float: left;
        width: 150px;
        background-color: #A9744C;
    }
    .ustMenu .bilgiYeri{
        float:right;
        padding:0 25px;
    }
        .ustMenu .bilgiYeri #lbl_kullanici {
            padding-right: 30px;
            float: right;
            padding: 10px 40px;
            color: black;
            font-weight:900;
        }
        .ustMenu .bilgiYeri .cikis_link {
            float: right;
            text-decoration: none;
            color: black;
            background-color:#A9744C;
            padding: 10px 40px;
            border-radius: 0px 200px 0px 200px;
            -webkit-border-radius: 0px 200px 0px 200px;
            -moz-border-radius: 0px 200px 0px 200px;
            font-weight:500;
        }
  
