.katEklePanel {
}

.katEkleBaslik {
    padding: 20px;
    margin-top: 5px;
    color: #000039;
    font-size: 16pt;
    border-bottom: 2px solid #000039;
}

.panelIci {
    padding: 10px;
    height: 220px;
    border-bottom: 2px solid #000039;
}

    .panelIci .satir {
        margin: 5px 0 5px 25px;
    }

        .panelIci .satir label {
            color: #000039;
            font-weight: 900;
            margin: 20px;
        }

.metinKutu {
    margin: 20px;
    padding: 10px 0;
    background-color: #002333;
    color: #DEEFE7;
    width: 50%;
    border: 2px solid #DEEFE7;
}
    .metinKutu:hover {
        border: 2px solid #002333;
    }

    .metinKutu:focus {
        border: 2px solid #DEEFE7;
        outline: none;
    }

    .metinKutu::placeholder {
        color: #DEEFE7
    }

.panelIci .satir .katEkleCheck {
    margin: 20px;
}

.panelIci .satir .katEkleButon {
    text-decoration: none;
    background-color: #024554;
    color: #DEEFE7;
    margin: 20px;
    padding: 10px 20px;
    border-bottom: 3px solid #8FC1B5;
    border-top: 5px solid #8FC1B5;
    border-radius: 25px;
}

    .panelIci .satir .katEkleButon:hover {
        border-bottom: 3px solid #024554;
        border-top: 5px solid #024554;
        border-radius: 0px 200px 0px 200px;
        -webkit-border-radius: 0px 200px 0px 200px;
        -moz-border-radius: 0px 200px 0px 200px;
    }


.basarisiz {

    background-color: #720505;
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
}

.basarili {
    margin-top: 20px;
    color: black;
    background-color: forestgreen;
    text-align: center;
    font-size: 16pt;
}
