*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
    background-color: #DEEFE7;

}

.main {
    width: 300px;
    color: white;
    margin: 270px auto;
    border: 3px solid #002333;
    border-radius: 3px;
    background-color: #8FC1B5;
    min-height: 300px;
    box-shadow: 14px 12px 10px 0px rgba(0,0,0,0.68);
    -webkit-box-shadow: 14px 12px 10px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 14px 12px 10px 0px rgba(0,0,0,0.68);
}

    .main h3 {
        text-align: center;
        color: #024554;
    }

.logoAlani {
    margin-left: 100px;

}

    .logoAlani img {
        width: 100px;
    }

.anaPanel {
    margin-top: 30px;
    background-color: #8FC1B5;
}

    .anaPanel label {
        display: block;
        margin-top: 5px;
        color: #024554;
        font-weight: 900;
        text-shadow: 2px 2px 4px rgba(128,88,61,0.6);
    }

.satir {
    margin-bottom: 20px;
}

    .satir .metinKutu {
        padding: 10px 0;
        background-color: white;
        border: none;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 5px;
        color: white;
        font-size: 12pt;
        border: 1px solid #8FC1B5;
        color: #000039;
        font-weight: 400;
    }

        .satir .metinKutu:hover {
            border: 1px solid white;
            outline:none;
        }
        .satir .metinKutu:focus {
            border: 1px solid #8FC1B5;
            outline: none;
        }

.girisButon {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 3px;
    background: rgb(140,130,135);
    background-color: #002333;
    text-align: center;
    box-shadow: -7px 4px 10px 0px rgba(0,0,0,0.68);
    -webkit-box-shadow: -7px 4px 10px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: -7px 4px 10px 0px rgba(0,0,0,0.68);
}

    .girisButon:hover {
        background: rgb(0,35,51);
        background: linear-gradient(90deg, rgba(0,35,51,1) 1%, rgba(164,179,172,1) 47%, rgba(0,35,51,1) 100%);
    }

.hatakutu {
    padding: 10px;
    color: white;
    font-weight: 900;
    text-align: center;
    background-color: #632323;
    border-radius: 7px;
    margin: 5px 0px;
}
.basarili {
    background-color:forestgreen;
}
